.notfound{
    &__title{
        margin-top: 200px;
        font-size: 70px;
        text-align: center;
    }
    &__btn{
        width: 200px;
        display: block;
        margin: 50px auto;

    }
}